.u-section-1 .u-sheet-1 {
  min-height: 8000px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 800px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 825px;
  height: 676px;
  margin: 0 -15px;
}

.u-section-1 .u-image-2 {
  width: 825px;
  height: 588px;
  margin: 30px -15px 0;
}

.u-section-1 .u-image-3 {
  width: 825px;
  height: 804px;
  margin: 30px -15px 0;
}

.u-section-1 .u-image-4 {
  width: 825px;
  height: 505px;
  margin: 30px -15px 0;
}

.u-section-1 .u-image-5 {
  width: 816px;
  height: 1147px;
  margin: 30px auto 0 -15px;
}

.u-section-1 .u-image-6 {
  width: 825px;
  height: 850px;
  margin: 30px -15px 0;
}

.u-section-1 .u-image-7 {
  width: 825px;
  height: 1019px;
  margin: 30px -15px 0;
}

.u-section-1 .u-image-8 {
  width: 825px;
  height: 918px;
  margin: 30px -15px 0;
}

.u-section-1 .u-image-9 {
  width: 825px;
  height: 903px;
  margin: 30px -15px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 7789px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 8px;
}

.u-section-1 .u-image-10 {
  width: 100px;
  height: 85px;
  margin: 12px auto 0 8px;
}

.u-section-1 .u-text-3 {
  margin: -78px -30px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 100px;
  height: 85px;
  margin: 37px auto 0 8px;
}

.u-section-1 .u-text-4 {
  margin: -79px -30px 0 auto;
}

.u-section-1 .u-image-12 {
  width: 100px;
  height: 85px;
  margin: 38px auto 0 8px;
}

.u-section-1 .u-text-5 {
  margin: -85px -30px 0 auto;
}

.u-section-1 .u-image-13 {
  width: 100px;
  height: 85px;
  margin: 44px auto 0 8px;
}

.u-section-1 .u-text-6 {
  margin: -85px -30px 0 auto;
}

.u-section-1 .u-image-14 {
  width: 100px;
  height: 85px;
  margin: 44px auto 0 8px;
}

.u-section-1 .u-text-7 {
  margin: -79px -30px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4546px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 660px;
  }

  .u-section-1 .u-image-1 {
    width: 645px;
    height: 529px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 645px;
    height: 460px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    width: 645px;
    height: 628px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    width: 645px;
    height: 395px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 645px;
    height: 906px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 645px;
    height: 665px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 645px;
    height: 797px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 645px;
    height: 718px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    width: 645px;
    height: 706px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 6423px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -23px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -23px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -23px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -23px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -23px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3581px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 480px;
    height: 394px;
  }

  .u-section-1 .u-image-2 {
    width: 480px;
    height: 342px;
  }

  .u-section-1 .u-image-3 {
    width: 480px;
    height: 467px;
  }

  .u-section-1 .u-image-4 {
    width: 480px;
    height: 294px;
  }

  .u-section-1 .u-image-5 {
    width: 480px;
    height: 674px;
  }

  .u-section-1 .u-image-6 {
    width: 480px;
    height: 495px;
  }

  .u-section-1 .u-image-7 {
    width: 480px;
    height: 593px;
  }

  .u-section-1 .u-image-8 {
    width: 480px;
    height: 534px;
  }

  .u-section-1 .u-image-9 {
    width: 480px;
    height: 525px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 4px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 4px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -16px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -16px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -16px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -16px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 12632px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 17px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -69px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -69px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -69px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -69px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -69px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 7953px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 263px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 228px;
  }

  .u-section-1 .u-image-3 {
    width: 320px;
    height: 311px;
  }

  .u-section-1 .u-image-4 {
    width: 320px;
    height: 196px;
  }

  .u-section-1 .u-image-5 {
    width: 320px;
    height: 449px;
  }

  .u-section-1 .u-image-6 {
    width: 320px;
    height: 330px;
  }

  .u-section-1 .u-image-7 {
    width: 320px;
    height: 395px;
  }

  .u-section-1 .u-image-8 {
    width: 320px;
    height: 356px;
  }

  .u-section-1 .u-image-9 {
    width: 320px;
    height: 350px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 10px;
  }

  .u-section-1 .u-image-10 {
    margin-left: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -42px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -42px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -42px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -42px;
  }

  .u-section-1 .u-text-7 {
    margin-right: -42px;
  }
}